<div class="text-center mt-auto mb-auto ml-auto mr-auto">
  Uh oh! No article available! Check back soon for the latest watch!
  <div class="no_articles ml-auto mr-auto mb-auto mt-auto ml-auto">
    <br />
    <%= image_tag 'doge.png', class: 'empty_doge mr-2' %>
  <b style="vertical-align: top;">  no articles.  very empty. wow. </b>
  </div>
</div>