<div class="col-10 offset-1">
  <h1>Sports Watch</h1>
  <div class="row">
    <% @articles.where(category: 'Sports').each do |article| %>
      <div class="box col-12 col-sm-4">
        <h5 class="article_title ml-2 mt-2 mb-1"><%= article.title %></h5>
        <h6 class="ml-2 mt-0"><%= article.category %></h6>
        <hr />
        <p class="content pl-3 pl-1"><%= article.content.truncate(250) %></p>
        <%= link_to 'Read More...', article_path(article), class: 'mr-2 mb-2 float-right' %>
      </div>
    <% end %>
  </div>
</div>