@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700&display=swap');

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  line-height: 30px;
}

.subtitle {
  font-size: 11.5px;
  margin-left: 4px;
}