@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700&display=swap');

body {
  font-family: 'News Cycle';
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
  background-color: ghostwhite;
}

.navbar {
  background-image: url('./images/nav.png');
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  line-height: 30px;
}

.subtitle {
  font-size: 11.5px;
  margin-left: 4px;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.d_title {
  font-weight: bold;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 10px;
  text-align: center;
}

input {
  width: 250px;
}

.box {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  height: 15.55px;
  width: inherit;
}

.btn-dark {
  background-color: #1e274a;
  margin-top: 5px;
  width: 100px;
  padding-bottom: 9.5px;
}

.article_content {
  width: 100%;
  min-height: 200px;
  text-align: left;
}

.article_form, input {
  text-align: left;
  resize: none;
}

.article_title {
  font-weight: bold;
}

.content {
  white-space: initial;
  font-size: 13px;
  width: 700px;
  padding-right: 10px;
}

.scrolling_wrapper {
  width: 100%;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  background: white;
  white-space: nowrap;
}

.category {
  width: 97.5%;
  max-height: 390px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  margin-top: 20px;
  background: white;
}

.preview {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  padding: 0;
  width: 700px;
  height: 270px;
}

.clear {
  clear: both;
}

.empty_doge {
  height: fit-content;
}

.cat_selector {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: lightgray;
  z-index: 1;
  margin-bottom: -20px;
  height: 43px;
}

.alert {
  margin-bottom: 0;
}