@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700&display=swap');

body {
  font-family: 'News Cycle';
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
  background-color: ghostwhite;
}

.navbar {
  background-image: url('./images/nav.png');
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  line-height: 30px;
}

.subtitle {
  font-size: 11.5px;
  margin-left: 4px;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.d_title {
  font-weight: bold;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 10px;
  text-align: center;
}

.box {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  height: 15.55px;
}

.btn-dark {
  background-color: #1e274a;
  margin-top: 5px;
  width: 100px;
  padding-bottom: 9.5px;
}